body {
  font-size:20px;
  background-color: #f9fffa;
  color: #000000;
  line-height: 1.58em;
}

nav {
  background-color: #000000;
  float: left;
  position: fixed;
  width: 100%;
}

figcaption{
  font-size: 0.6em;
}

h1{
  font-size:2em;
  text-transform: capitalize;
  line-height: 2em;
}

h3{
  color: rgba(108, 122, 137, 1);
  font-size: 1em;
}
p{margin: 20px 0px 10px 0px;}

.author{
  text-align: right;
  line-height: 2em;
}

.logo {
  margin: 3%;
  width: 15%;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 4%;

}
a{
  text-decoration: none;
  color:#CADAEB;
}
a:hover{color:#FFFFFF;}


article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
